<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Teach.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Teach.Properties.Settings.TeachConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Teach;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TeachConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=Teach" />
    <add name="TeachEntities" connectionString="metadata=res://*/EDM.TeachModel.csdl|res://*/EDM.TeachModel.ssdl|res://*/EDM.TeachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESLAMMAHFOUZ\SQLEXPRESS;initial catalog=Teach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Teach.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Teach</value>
      </setting>
      <setting name="isPaid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Printer" serializeAs="String">
        <value />
      </setting>
      <setting name="BackUpFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="maxDegree" serializeAs="String">
        <value>0</value>
      </setting>
    </Teach.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>